body {
    background-image: url(smokebackground.jpg);
    background-size: cover;
}

h1, p {
    color:aquamarine;
    text-align: center;
    border: 5px outset red;
    cursor: crosshair;
}

p {
    color: yellow;
}

li {
    list-style: none;
    display: inline-block;
}

.webtextone {
    border: 10px dotted;
}

.webtexttwo {
    border: 10px dashed yellow;
}

#wrap {
    background-color: rgba(70, 130, 180, 0.5)
}