body {
    background-image: url(smokebackground.jpg);
    background-size: cover;
}

h1 {
    color:aquamarine;
    text-align: center;
    border: 5px outset red;
}

p {
    color: yellow;
}

li {
    list-style: none;
}
