body {
    background-image: url(smokebackground.jpg);
    background-size: cover;
}
h1, p {
    color:slateblue;
    text-align: center;
    border: 5px outset yellowgreen;
    cursor: pointer;
}

p {
    color: crimson;
    text-decoration: underline;
    line-height: 20px;
    font-style: italic;
    font-weight: bold;
    font-size: 150%;
    font-family: 'Borel', cursive;
    text-align: left;
}

li {
    list-style: none;
    display: inline-block;
}
